svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#people rect {
    position: absolute;
    transform: translateY(-100%);
    animation: people 1000ms ease forwards;
    animation-delay: calc(var(--order)*200ms);
}

@keyframes people {
    0% {
       transform: translateY(-100%);
    }

    100% {
       transform: translateY(0%);
    }
}
